<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>

  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>StudentFilter</filter-name>
  	<display-name>StudentFilter</display-name>
  	<description></description>
  	<filter-class>com.svlt.basics.filter.StudentFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>DepartmentFilter</filter-name>
  	<display-name>DepartmentFilter</display-name>
  	<description></description>
  	<filter-class>com.svlt.basics.filter.DepartmentFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>DepartmentFilter</filter-name>
  	<url-pattern>/saveStudents</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>StudentFilter</filter-name>
  	<url-pattern>/saveStudents</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>DemoServlet</servlet-name>
  	<display-name>DemoServlet</display-name>
  	<description></description>
  	<servlet-class>com.svlt.basics.DemoServlet</servlet-class>
  	
  	<init-param>
      <param-name>dbname</param-name>
      <param-value>custom_db</param-value>
    </init-param>
  </servlet>
  <servlet>
  	<servlet-name>DepartmentServlet</servlet-name>
  	<display-name>DepartmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.svlt.basics.DepartmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentData</servlet-name>
  	<display-name>StudentData</display-name>
  	<description></description>
  	<servlet-class>com.svlt.basics.StudentData</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DemoServlet</servlet-name>
  	<url-pattern>/saveStudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepartmentServlet</servlet-name>
  	<url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentData</servlet-name>
  	<url-pattern>/studentData</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>dbname</param-name>
  	<param-value>mu_students</param-value>
  </context-param>
  <context-param>
  	<param-name>dbuser</param-name>
  	<param-value>root</param-value>
  </context-param>
</web-app>